In [1]:
import numpy as np
import pandas as pd

In [2]:
#filenames
LM_scores_ranking_filename = "VU_test_data_assigned_scores_ranking_LM.txt"
out_LM_ranking_list_filename = "VU_test_data_ranking_list.txt"

In [3]:
# Load assigned scores file
df_ranking = pd.read_csv(LM_scores_ranking_filename, names=['SearchId','X','PropertyId','rank','score','Y'], sep=' ')

In [4]:
df_ranking = df_ranking[['SearchId','PropertyId']]

In [5]:
df_ranking

         SearchId  PropertyId
0               1       61934
1               1       99484
2               1       54937
3               1       63894
4               1       73666
5               1       94729
6               1      123675
7               1       28181
8               1       24194
9               1       82231
10              1       74045
11              1       78599
12              1       34263
13              1       56050
14              1        5543
15              1        3180
16              1       50162
17              1      139162
18              1      134992
19              1       95031
20              1       22393
21              1       90385
22              1      128085
23              1       89466
24              1       37567
25              1       14142
26              1       72090
27              1      128871
28              1       61632
29              3      131940
...           ...         ...
4959153    332785       84583
4959154    332785      122587
4959155    332786      103457
4959156    332786      117267
4959157    332786       45449
4959158    332786      135414
4959159    332786       36331
4959160    332786       43698
4959161    332786      113183
4959162    332786       54994
4959163    332786      128251
4959164    332786       46497
4959165    332786       59590
4959166    332786       29028
4959167    332786       15662
4959168    332786      125075
4959169    332786      127402
4959170    332786       54775
4959171    332786       63164
4959172    332786      101905
4959173    332786       92950
4959174    332786       19265
4959175    332786       98306
4959176    332787       33959
4959177    332787       22854
4959178    332787       32019
4959179    332787       94437
4959180    332787       29018
4959181    332787       99509
4959182    332787       35240

[4959183 rows x 2 columns]

In [7]:
df_ranking[df_ranking['SearchId'] == 1]

    SearchId  PropertyId
0          1       61934
1          1       99484
2          1       54937
3          1       63894
4          1       73666
5          1       94729
6          1      123675
7          1       28181
8          1       24194
9          1       82231
10         1       74045
11         1       78599
12         1       34263
13         1       56050
14         1        5543
15         1        3180
16         1       50162
17         1      139162
18         1      134992
19         1       95031
20         1       22393
21         1       90385
22         1      128085
23         1       89466
24         1       37567
25         1       14142
26         1       72090
27         1      128871
28         1       61632

In [8]:
df_ranking.to_csv(out_LM_ranking_list_filename, header=True, index=False)